@using bank_data_web_application.Helpers
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
	var pictureUrl = HttpContextAccessor.HttpContext.Session.GetString("pictureUrl");
	if (pictureUrl is null)
	{
		pictureUrl = "";
	}
}

<!DOCTYPE html>
<html lang="en">

<head>

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="shortcut icon" href="~/assets/img/icons/icon-48x48.png" />

	<link rel="canonical" href="https://demo-basic.adminkit.io/pages-blank.html" />

	<title>Bank Data Web App</title>

	<link href="~/assets/css/app.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body>
	<div class="wrapper">
		<nav id="sidebar" class="sidebar js-sidebar">
			<div class="sidebar-content js-simplebar">
				<a class="sidebar-brand" href="index.html">
					<span class="align-middle">Bank Data Web App</span>
				</a>

				<ul class="sidebar-nav">
					<li class="sidebar-header">
						User Dashboard
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" asp-action="Profile" asp-controller="BankApplicationHome">
							<i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Your Profile</span>
						</a>
					</li>

					<li class="sidebar-header">
						Bank Account
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" asp-action="Summary" asp-controller="Account">
							<i class="align-middle" data-feather="square"></i> <span class="align-middle">List of Accounts</span>
						</a>
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" asp-action="Summary" asp-controller="Account">
							<i class="align-middle" data-feather="square"></i> <span class="align-middle">Account Summary</span>
						</a>
					</li>

					<li class="sidebar-header">
						Transactions
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" asp-action="TransaactionHistory" asp-controller="Transaction">
							<i class="align-middle" data-feather="bar-chart-2"></i> <span class="align-middle">Transaction History</span>
						</a>
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" asp-action="TransferMoney" asp-controller="Transaction">
							<i class="align-middle" data-feather="map"></i> <span class="align-middle">Transfer Money</span>
						</a>
					</li>

					<li class="sidebar-header">
						Settings
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" asp-action="Profile" asp-controller="BankApplicationHome">
							<i class="align-middle" data-feather="map"></i> <span class="align-middle">Profile</span>
						</a>
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" asp-action="Logout" asp-controller="User">
							<i class="align-middle" data-feather="map"></i> <span class="align-middle">Logout</span>
						</a>
					</li>
				</ul>

			</div>
		</nav>

		<div class="main">
			<nav class="navbar navbar-expand navbar-light navbar-bg">
				<a class="sidebar-toggle js-sidebar-toggle">
					<i class="hamburger align-self-center"></i>
				</a>

				<div class="navbar-collapse collapse">
					<ul class="navbar-nav navbar-align">
						<li class="nav-item dropdown">
							<a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-bs-toggle="dropdown">
								<i class="align-middle" data-feather="settings"></i>
							</a>

							<a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-bs-toggle="dropdown">
								<img src="@GlobalStaticHelper.baseApiUrl@pictureUrl" class="avatar img-fluid rounded me-1" alt="Charles Hall" /> <span class="text-dark">Charles Hall</span>
							</a>
							<div class="dropdown-menu dropdown-menu-end">
								<a class="dropdown-item" asp-action="Profile" asp-controller="BankApplicationHome"><i class="align-middle me-1" data-feather="user"></i> Profile</a>
                                <div class="dropdown-divider"></div>
								<a class="dropdown-item" asp-action="Profile" asp-controller="BankApplicationHome"><i class="align-middle me-1" data-feather="settings"></i> Settings & Privacy</a>
                                <div class="dropdown-divider"></div>
								<a class="dropdown-item" asp-action="Logout" asp-controller="User">Log out</a>
							</div>
						</li>
					</ul>
				</div>
			</nav>

			<main class="content">
				@RenderBody()
			</main>

			<footer class="footer">
				<div class="container-fluid">
					<div class="row text-muted">
						<div class="col-6 text-start">
							<p class="mb-0">
								<a class="text-muted" href="https://adminkit.io/" target="_blank"><strong>AdminKit</strong></a> - <a class="text-muted" href="https://adminkit.io/" target="_blank"><strong>Bootstrap Admin Template</strong></a>								&copy;
							</p>
						</div>
						<div class="col-6 text-end">
							<ul class="list-inline">
								<li class="list-inline-item">
									<a class="text-muted" href="https://adminkit.io/" target="_blank">Support</a>
								</li>
								<li class="list-inline-item">
									<a class="text-muted" href="https://adminkit.io/" target="_blank">Help Center</a>
								</li>
								<li class="list-inline-item">
									<a class="text-muted" href="https://adminkit.io/" target="_blank">Privacy</a>
								</li>
								<li class="list-inline-item">
									<a class="text-muted" href="https://adminkit.io/" target="_blank">Terms</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</div>

	<script src="~/assets/js/app.js"></script>
	@await RenderSectionAsync("Scripts", required: true)

</body>

</html>