@using bank_data_web_models
@model IEnumerable<Account>

@{
	Layout = "~/Views/Shared/_UserDashboardLayout.cshtml";
}

<div class="container-fluid p-0">
	<h1 class="h3 mb-3">Select your account to initiate transfer</h1>

	<div class="row">
		@if (Model.Count() != 0)
		{
			@foreach (var account in Model)
			{
				<div class="col-3 col-md-3 text-center">
					<div class="card">
						<div class="card-header">
							<h3 class="card-title mb-0">@account.AccountHolderName</h3>
							<h5 class="card-title mb-0">@account.AccountNumber</h5>
						</div>
						<div class="card-body">
							<p class="card-text">Current Balance @account.Balance</p>
							<a href="@Url.Action("InitiateTransfer", "Transaction", new {accountId = account.AccountId})" class="btn btn-primary">Select</a>
						</div>
					</div>
				</div>
			}
		}
		else
		{
			<h1 class="h3 mb-3">There are no Accounts</h1>
		}


	</div>
</div>

@section Scripts {

}